@import "tailwindcss";

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  /* Enforce single font family globally */
  font-family: Arial, Helvetica, sans-serif; 
  
  /* Mobile First: No padding by default */
  padding-left: 0;
  padding-right: 0;
}

/* --- DESKTOP ONLY PADDING --- */
@media (min-width: 1024px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #f8bef4c6;
  border-radius: 2px;
}



/* Range Slider Custom Styling */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #F9A8D4; /* Your floral-magenta color */
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(117, 56, 97, 0.2);
}

input[type='range']::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #C2185B;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}